.star {
  cursor: pointer;
}

.container {
  border: dashed;
  border-color: #f0f2f5;
  border-width: 3px;
  border-radius: 12px;
  outline: none;
  transition: "border .24s ease-in-out";
}

.tag {
  border-radius: 12px;
  background-color: #f0f2f5;
}

.propertyImage {
  width: 60px;
  height: 60px;
}

.reviewCard {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.reviewCard:hover {
  transform: scale(1.05);
}
